html, body {
  margin: 0;
}


.giant{
  width: 100%;
  background: red;
}

.one{
  margin: 0 -4px 0 0px;
  width: 20%;
  height: 500px;
  background: yellow;
  display: inline-block;
}

.two{
  margin: 0 -4px 0 0px;
  width: 20%;
  height: 500px;
  background: green;
  display: inline-block;

}
.three{
  margin: 0 -4px 0 0px;
  width: 20%;
  height: 500px;
  background: pink;
  display: inline-block;

}
.four{
  margin: 0 -4px 0 0px;
  width: 20%;
  height: 500px;
  background: orange;
  display: inline-block;

}
.five{
  margin: 0 -4px 0 0px;
  width: 20%;
  height: 500px;
  background: teal;
  display: inline-block;
}

.footer{
  width: 100%;
  background: blue;
}
